.nav-bar-bg
{
    background-color: #f8f9fa;
}
.item-1
{
    background-color: #ffa500;
}
.item-2
{
    background-color: #da70d6;
}
.item-3
{
    background-color: #0000ff;
}
.cata-img img
{
    width:100px;
    height: 100px;
}
.panda-btn
{
 background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
 color:white;
 border: none;
 border-radius: 8px;
 padding: 9px 25px;
}
.custom-background
{
    background-color: #fceae8;
   
}